.breadCrumb{
    display: flex;
    margin: 10px 20px;
}

.breadCrumbIcon{
    margin: 6px 20px;
}

.breadCrumbCate{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D88;
}

.breadCrumbDetail{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.listDevice{
    display: flex;
    margin: 10px 10px;
}

.listDeviceTitle{
    text-align: left;
    margin: 60px 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.content{
    position: absolute;
    width: 1152px;
    height: 450px;
    left: 250px;
    top: 165px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

.Flex_input{
    display: flex;
}

.inputLeft{
    width: 576px;
    margin: 0 10px 0 5px;
}

.inputRight{
    width: 576px;
    margin: 0 10px 0 5px;
}

.labelName{
    margin-right: 450px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    color: #282739;
}

.labelName span{
    color: red;
    width: 6px;
    height: 6px;
    margin-left: 2px;
}

.useService .idDevice{
    margin: 0 45px;
    width: 200px;
}

.useService .details{
    text-align: left;
    margin: 0 45px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.btnActions{
    margin: 30px 0;
}

.cancel{
    margin: 0 20px;
    width: 147px;
    height: 48px;
    background: #FFF2E7;
    border: 1.5px solid #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FF9138;
}

.addItem{
    width: 147px;
    height: 48px;
    background: #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.requireTitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.requireTitle span{
    color: red;
    margin: 0 5px;
}


.addItem{
    position: absolute;
    width: 80px;
    height: 94px;
    left: 1823px;
    top: 163px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
}

.iconPlus{
    color: #fff;
    background: #FF9138;
    width: 28px;
    height: 24px;
    margin: 5px 28px;
    border-radius: 4px;
    transform: rotate(-180deg);
}

.titleAddItem{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
}

.content h2{
    width: 200px;
    height: 30px;
    margin: 20px 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.detailDevice{
    display: flex;
    margin: 10px 41px;
}

.idDevice{
    margin-right: 30px;
    width: 110px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
}

.details{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.status{
    display: flex;
    margin: 0 -10px;
}

.actions{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin: 6px 10px;
}

.actionsWaiting{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4277FF;
    margin: 6px 10px;
}