.box {
    width: 150px;
    height: 44px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -31px 10px;
    border: 1px solid #D4D4D7;
    background: #FFFFFF;
    z-index: 1;
}
  
.title {
    position: absolute;
    text-align: left;
    top: 166px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    margin: 0 -15px;
}

.content{
    display: flex;
    margin: -5px 0;
}

.time{
    margin: 0 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A9A9B0;
}

.iconCalendar{
    margin: 2px 0;
    color: #FF7506;
}

.customCalendar{
    position: absolute;
    top: 245px;
    left: 480px;
}