.breadCrumb{
    display: flex;
    margin: 10px 20px;
}

.breadCrumbIcon{
    margin: 6px 20px;
}

.breadCrumbCate{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D88;
}

.breadCrumbDetail{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.listDevice{
    display: flex;
    margin: 10px 10px;
}

.listDeviceTitle{
    text-align: left;
    margin: 60px 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.content{
    position: absolute;
    width: 1152px;
    height: 580px;
    left: 250px;
    top: 165px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

.contentTitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
    text-align: left;
    margin: 10px 20px;
}

.Flex_input{
    display: flex;
}

.inputLeft{
    width: 570px;
    text-align: left;
    margin: 10px 20px;
}

.inputRight{
    text-align: left;
    margin: 12px 20px;
}

.options{
    background-color: #FFF2E7;
    width: 576px;
    text-align: left;
    height: 390px;
}

.optionsA{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
    position: absolute;
    margin: 16px 24px;    
}

.labelName{
    margin: 10px 0px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    color: #282739;
}

.labelName span{
    color: red;
    width: 6px;
    height: 6px;
    margin-left: 2px;
}

.useService{
    margin: 0 5px;
    margin: 10px 20px;
}

.btnActions{
    position: absolute;
    width: 350px;
    display: flex;
    justify-content: space-around;
    top: 770px;
    left: 580px;
    margin: 0 -3px;
}

.cancel{
    width: 147px;
    height: 48px;
    background: #FFF2E7;
    border: 1.5px solid #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FF9138;
}

.addItem{
    width: 147px;
    height: 48px;
    background: #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.requireTitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.requireTitle span{
    color: red;
    margin: 0 5px;
}

textarea.des {
    height: 300px;
}

.form-control::placeholder {
    color: red;
}

.ruleNumber{
    text-align: left;
    display: flex;
}

.rangeTitle{
    margin: 10px 20px;
    width: 61px;
    height: 44px;   
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    text-align: center;
    padding: 8px 0;
}

.rangeTitle p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.boxChecked{
    margin: 50px 25px;
}

.boxChecked1{
    display: flex;
}

.titleBox1{
    margin: 15px 0;
}

.titleLabel{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #282739;
    width: 120px;
    margin: 2px 5px;
}

.customChecked{
    width: 200px;
    height: 20px;
    border-radius: 4px;
    margin: 50px 25px;
    position: absolute;
}

.checkboxCustom{
    margin: 10px 0;
}

.customLabel{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #535261;
}

.groupA{
    width: 400px;
    height: 200px;
}

.groupB{
    margin: -10px 0;
}
