.container {
    width: 1440px;
    height: 810px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    border-radius: 16px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
  
.login {
    background-color: #F6F6F6;
    padding: 20px;
}

.titleUsername{
    position: absolute;
    left: 20px;
    top: 210px;
    color: #000;
}

.titlePassword{
    position: absolute;
    left: 20px;
    top: 295px;
    color: #000;
}

.forgotPassword{
    position: absolute;
    left: 26px;
    color: red;
}

.eyePass{
    position: absolute;
    left: 520px;
    top: 329px;
    cursor: pointer;
}

.eyePass:hover{
    opacity: 0.8;
}

.btnCancel{
    margin: 0 10px;
    width: 162px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid  #FF9138;
    color:  #FF9138;
}

.btnContinue{
    width: 162px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color:  #FF9138;
    color: #fff;
}

.btnContinue:hover, 
.btnCancel:hover{
    opacity: 0.8;
}
  
.banner {
    padding: 20px;
    width: 848px;
    height: 810px;
    left: 592px;
}

.banner img{
    width: 800px;
    margin: 50px -50px;
}

.title1{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #282739;
}

.title2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #37474F;
}


